<header>
  <div class='header-container'><h1>la<span>.</span></h1></div>
  <nav>
    <ul class='nav-bar'>
      {{#link-to 'about' tagName='li' }}about{{/link-to}}
      {{#link-to 'work' tagName='li' }}work{{/link-to}}
      {{#link-to 'contact' tagName='li' }}contact{{/link-to}}
    </ul>
  </nav>
  <div class='social-media'></div>
</header>
