// Colors

$jet: #3A3335;
$dogwoodRose: #D81E5B;
$redOrange: #F0544F;
$papayaWhip: #FDF0D5;
$columbiaBlue: #C6D8D3;
$whiteGrey: #E8E8E8;
$teal: #1eb59a;

// Fonts

$montseratt: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;
