.about-container {
  display: flex;
  margin-top: 30px;

  hr {
    width: 25%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    align-self: center;
  }

  h1 {
    font-family: $raleway;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: .2em;
  }


}
