header {
  background: #823352;
  display: flex;
  flex-direction: row;
  height: 90px;

  .header-container {
    flex-grow: 10;

    h1 {
      font-size: 42px;
      font-family: $montseratt;
      line-height: 90px;
      margin-left: 40px;
      text-align: left;
      color: white;
    }
  }
}

nav {
  align-self: center;
  flex-grow: 1;

  ul {
    display: flex;
    flex-direction: row;
    font-family: $montseratt;
    font-size: 25px;

    li {
      margin-right: 40px;
      color: white;
      padding-bottom: 10px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $teal;
      }

      &.active {
        color: $teal;
        border-bottom: 5px solid #333;
      }
    }
  }
}
