<div class='contact-container'>

  <h1>contact me</h1>
  <hr>
  <div class='contact'>
    <!-- <div class='icon-container'><img class='email' alt='envelope from flaticon.com' src='assets/images/envelope.png'></div> -->
    <div class='icon-container'><img class='phone' alt='phone logo from flaticon.com' src='assets/images/smartphone-1.png'>
    <p class='phone-num'>704.307.1591</p></div>
    <div class='icon-container'><a href='https://www.linkedin.com/in/lindsey-adams-279a4724'><img class='linkedin' alt='linkedin logo from flaticon.com' src='assets/images/linkedin-logo.png'></a></div>
    <div class='icon-container'><a href='https://github.com/lindsma'><img class='github' alt='github logo' src='assets/images/github-logo-black.png'></a></div>
    <div class='icon-container'><a href='https://www.twitter.com/lindsmadams'><img class='twitter' alt='twitter logo from flaticon.com' src='assets/images/twitter-logo-silhouette.png'></a></div>

    <form>
      <label for='name'>name</label>
      <input class='name' type='text'>
      <label for='email'>email</label>
      <input class='email' type='email'>
      <label for='message'>message</label>
      <input class='message' type='text'>
      <button class='submit'>send</button>
    </form>
  </div>

</div>
