<div class='work-main-container'>
  <div class='work-header'>
    <hr>
    <h1>my work</h1>
    <hr>
  </div>
  <section class='work-container'>
    <div class='codekarma'>
    <div class='work codekarma'><div class='triangle'></div></div>
    </div>
    <div class='work hatchery'><div class='triangle'></div></div>
    <!-- <div class='work 4'>
      <a href='https://samanthasheadavis.github.io/codeKarma/#/'>
        <p class='title'>code karma</p>
        <img class='github' src='assets/images/github_logo.png'>
        <img class='work 4' src='assets/images/work-4.png' alt='codekarma screenshot'>
      </a>
      <p class="description">Utilized GitHub API to create a platform for nonprofits to connect with highly qualified developers</p>
      <p class="skills">AngularJS - JavaScript - AJAX - JQuery - JQuery UI - HTML5 - Sass</p>
    </div>
    <div class='work 3'>
      <a href='#'>
        <p class='title'>hatchery</p>
        <img class='github' src='assets/images/github_logo.png'>
        <img class='work 3' src='assets/images/work-3.png' alt='hatchery screenshot'>
      </a>
      <p class="description">Online inventory and ordering system for buying and selling farm-fresh eggs. Utilized Weather Underground API for a fun "check on the chickens" feature.</p>
      <p class="skills">AngularJS - JavaScript - JQuery - AJAX - HTML5 - Sass</p>
    </div>
    <div class='work 1'>
      <a href='https://lindsma.github.io/week-long-website/?#home'>
        <p class='title'>petsy</p>
        <img class='github' src='assets/images/github_logo.png'>
        <img class='work 1' src='assets/images/petsy.png' alt='petsy screenshot'>
      </a>
      <p class="description">Utilized PetFinder and Etsy APIs to create an online petshop</p>
      <p class="skills">JavaScript - Handlebars - AJAX - JQuery - HTML5 - Sass</p>
    </div>
    <div class='work 2'>
      <a href="#">
        <p class='title'>brainsto.rm</p>
        <img class='github' src='assets/images/github_logo.png'>
        <img class='work 2' src='assets/images/work-2.png' alt='brainstorm screenshot'>
      </a>
      <p class="description">Created a brain game where users are challenged to solve math problems falling from the sky before they hit the ground. Math problems increase in difficulty and velocity.</p>
      <p class="skills">JavaScript - AJAX - JQuery - Haml - Sass</p>
    </div> -->

  </section>
