<div class='work-container'>
    <hr>
    <h1>my work</h1>
    <hr>
  <div class='work 1'>
    <a href='https://lindsma.github.io/week-long-website/?#home'>
    <p>petsy</p>
    <img class='github' src='assets/images/github_logo.png'>
    <img class='work 1' src='assets/images/work-1.png' alt='petsy screenshot'>
    </a>
  </div>
  <div class='work 2'>
    <p>brainsto.rm</p>
    <img class='github' src='assets/images/github_logo.png'>
    <img class='work 2' src='assets/images/work-2.png' alt='brainstorm screenshot'>
  </div>
  <div class='work 3'>
    <p>hatchery</p>
    <img class='github' src='assets/images/github_logo.png'>
    <img class='work 3' src='assets/images/work-3.png' alt='hatchery screenshot'>
  </div>
</div>
